.header {
    padding: 1em;
    background: #0E816A;
}

nav {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    max-width: fit-content;
    border: solid grey 1px;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    margin-left: -40px;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1 a {
    text-decoration: none;
    color: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    overflow-y: scroll;
}
#articles-list {    
    flex-direction: column;
    justify-content: center;
}

.list-display {
    padding: 0;
}
#single-article {
    border: 1px solid grey;
    border-radius: 0.25em;
    padding: 1em;
}

.responsive {
/*    max-width: 100%; */
    width: 300px;
    height: auto;
}

#article-card {
    max-width: 800px; 
    border: 1px solid grey;
    border-radius: 0.25em;
    display:block;
    padding: 1em;
}

img {
    border: solid grey 1px;
}

#article-card
    img.article-img {
        height: 100px;
        margin-top: 1em;
    }
    .article-card-details {
        display:inline-block;
        list-style-type: none;
        margin-left: 1em;
    }

.article-img-details-container {
    display: flex;
    align-items: flex-start;
}
    
.votes-comments-line {
    display: inline-flex;
    align-items: baseline;
}

p.body-text {
    text-align: left;
}

h4.votes {
    padding-right: 20px;
}

h4.comments {
    padding-right: 20px;
}

.votes-comments-line button {
    margin-right: 20px;
}

.bold {
    font-weight:bold;
}

.lighter {
    margin-right: 20px;
    font-weight: lighter;
}


.comments-link {
    background: none;
    border: none;
    color:blue;
    text-decoration: underline;
    cursor: pointer;
    font: inherit;
    font-weight: bold;
}

.comments-body {
    margin-left: 1.5em;
}

#comments-list ul {
    max-width: inherit;
    padding-left: 1em;
    list-style-type: none;
}

#comments-list button {
    margin: 1em;
}

#comment-adder {
    max-width: inherit;
    border: solid black 1px;
    padding: 10px;
}
.comment-form label {
    font-weight: bold;
}

.comment-form textarea {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium
}